
@{
    ViewBag.Title = "聊天窗口.发送指定用户";
}
<div>
    <div id="main"></div>
    <div id="ConnectionId"></div>
    <input type="text" id="username" />
    <input type="text" id="message" />
    <input type="button" id="sendmessage" value="Send" />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
    <div id="code"></div>
</div>
<style>
    body {
        font-family: "微软雅黑";
    }

    .sender {
        clear: both;
    }

        .sender div:nth-of-type(1) {
            float: left;
        }

        .sender div:nth-of-type(2) {
            background-color: aquamarine;
            float: left;
            margin: 0 20px 10px 15px;
            padding: 10px 10px 10px 0px;
            border-radius: 7px;
        }

        .receiver div:first-child img,
        .sender div:first-child img {
            width: 50px;
            height: 50px;
        }
</style>

@section scripts
{
    <script src="~/Scripts/jquery-qrcode/jquery-qrcode.js"></script>
    <!--引用SignalR库. -->
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <!--引用自动生成的SignalR 集线器(Hub)脚本.在运行的时候在浏览器的Source下可看到 -->
    <script src="~/signalr/hubs"></script>

    <script>
        function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }

        var leftHtml = [
            '<div class="sender">',
            '<div><img src="http://img.jfdown.com/jfdown/201403/ygald3wajct.jpg"></div>',
            '<div><div class="left_triangle"></div>',
            '<span>{msg}</span></div></div>'
        ].join('');

        var rightHtml = [
            '<div class="receiver">',
            '<div><img src="http://tb.himg.baidu.com/sys/portrait/item/306c9328?t=1397975854"></div>',
            '<div><div class="right_triangle"></div>',
            '<span>{msg}</span></div></div>'
        ].join('');

        function toUtf8(str)
        {
            var out, i, len, c;
            out = "";
            len = str.length;
            for (i = 0; i < len; i++)
            {
                c = str.charCodeAt(i);
                if ((c >= 0x0001) && (c <= 0x007F))
                {
                    out += str.charAt(i);
                } else if (c > 0x07FF)
                {
                    out += String.fromCharCode(0xE0 | ((c >> 12) & 0x0F));
                    out += String.fromCharCode(0x80 | ((c >> 6) & 0x3F));
                    out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
                } else
                {
                    out += String.fromCharCode(0xC0 | ((c >> 6) & 0x1F));
                    out += String.fromCharCode(0x80 | ((c >> 0) & 0x3F));
                }
            }
            return out;
        }

        $(function ()
        {
            //生成二维码
            $("#code").qrcode({
                render: "table", //table方式
                width: 200, //宽度
                height: 200, //高度
                text: "http://www.webpsj.com" //任意内容
            });

            $('#username').val(GetQueryString("username"));


            // 1、引用自动生成的集线器代理 必须用小写字母开头
            var chat = $.connection.chatHub;

            // 3、定义服务器端调用的客户端sendMessage来显示新消息(定义服务端调用客户端的方法)
            chat.client.sendMessage = function (name, message)
            {
                // 向页面添加消息
                $('#discussion').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
                $('#main').append(leftHtml.replace('{msg}', name + ":" + message));
            };

            //(定义服务端调用客户端的方法)
            chat.client.showConnectionId = function (ConnectionId)
            {
                $('#ConnectionId').append(leftHtml.replace('{msg}', "ConnectionId=" + ConnectionId));
            };


            // 2、开始连接服务器 done函数表明建立连接成功后为发送按钮注册了一个click事件
            $.connection.hub.start().done(function ()
            {
                chat.server.online($('#username').val());//上线 连接服务端

                $('#sendmessage').click(function ()
                {
                    // 调用服务器端集线器的sendToUser方法 也要小写开头
                    chat.server.sendToUser($('#username').val(), $('#message').val());
                    $('#main').append(rightHtml.replace('{msg}', $('#username').val() + ":" + $('#message').val()));
                    // 清空输入框信息并获取焦点
                    $('#message').val('').focus();
                });
            });



            // 设置焦点到输入框
            $('#message').focus();
        });

        // 为显示的消息进行Html编码
        function htmlEncode(value)
        {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}


